/* Character sheet styles */

.dworld.actor-sheet {
  display: grid;
  grid-template: "class topbar topbar topbar" 1.5fr
                 "class nav    nav    nav"    1fr
                 "class tab    tab    tab"    17fr
                 / 0.75fr 2fr 2fr 2fr;
}

.dworld.actor-sheet .overview-tab {
  display: grid;
  grid-template: "look   basechar alignment" 2.2fr
                 "stats  stats    bonds"     2.5fr
                 "pinned pinned   bonds"     3fr
                 / 3.2fr 2.2fr 3fr
}

.dworld.actor-sheet .class {
  all: unset;
  grid-area: class;
  writing-mode: vertical-rl;
  transform: rotate(-180deg);

  font-family: "Palatino";
  font-size: 350%;
  font-weight: bold;
  text-align: right; /* Means top in this case */
  padding-bottom: 0.7em;
}

.dworld.actor-sheet .topbar {
  grid-area: topbar;
}

.dworld.actor-sheet .sheet-tabs {
  grid-area: nav;
}

/* Pages */
.dworld.actor-sheet .tab {
  grid-area: tab;
  display: grid;
}

.dworld.actor-sheet h2 {
  all: unset;
}

.dworld.actor-sheet input {
  all: unset;
}

.dworld.actor-sheet .tab > section {
  margin: 3px;
  padding: 3px;
}

.dworld.actor-sheet .look {
  grid-area: look;
}

.dworld.actor-sheet .look > .label {
  font-size: 120%;
  color: #eeeeee;
  text-transform: uppercase;

  padding: 0.15em;
  margin-left: 0em;
  width: 100%;
  display: block;
  background-color: #373738;
  box-shadow: 1px 1px 5px #373738;
}

.dworld.actor-sheet .basechar {
  grid-area: basechar;
  display: flex;
  flex-direction: column;
  margin: 0px !important;
  justify-content: space-between;
}

.dworld.actor-sheet .basechar > * {
  flex: 1;
  border: 1px solid;
  box-shadow: 1px 1px 5px #555;
  border-radius: 3px;
  margin-bottom: 2px;
}

.dworld.actor-sheet .basechar > .damage {
  margin-bottom: 0px;
}

.dworld.actor-sheet .alignment {
  grid-area: alignment;
}

.dworld.actor-sheet .alignment > .label {
  font-size: 120%;
  color: #eeeeee;
  text-transform: uppercase;

  padding: 0.15em;
  margin-left: 0em;
  width: 100%;
  display: block;
  background-color: #373738;
  box-shadow: 1px 1px 5px #373738;
}

.dworld.actor-sheet .stats {
  grid-area: stats;
  display: grid;
  grid-template: "str dex con" 1fr
                 "int wis cha" 1fr
                 / 1fr 1fr 1fr;
  grid-gap: 2px 2px;
  margin: 0px !important;
}

.dworld.actor-sheet .stats .stat-container {
  border: 1px solid;
  box-shadow: 1px 1px 5px #555;
  border-radius: 3px;
}

.dworld.actor-sheet .moves-tab {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 10em;
  grid-gap: 3px 3px;
}

.dworld.actor-sheet .move-card {
  height: 10em;
  overflow: auto;
  border: 1px solid;
  box-shadow: 1px 1px 5px #555;
  border-radius: 3px;
  padding: 3px;
}
