.dworld .sheet-tabs {
  height: 32px;
  border-bottom: 1px solid #666;
}
.dworld .sheet-tabs > .item {
  line-height: 32px;
  padding: 0 10px;
  border-radius: 5px 5px 0 0;
}
.dworld .sheet-tabs > .item.active {
  color: #000;
  border: 1px solid #666;
  border-bottom: none;
  box-shadow: 0 0 10px inset #ff6400;
  text-shadow: none;
}

.dworld .tab {
  visibility: collapse;
}

.dworld .tab.active {
  visibility: inherit;
}

.dworld .sneaky-input {
  all: unset;
}

.dworld .move-card {
  padding: 0.2em;
}

.dworld .move-name {
  display: inline-block;
  margin-bottom: 0em;
}

.dworld .move-requires {
  padding-bottom: 0.3em;
}

.dworld .move-card > .remove-button {
  display: none;
}

.dworld .move-card:hover > .remove-button {
  display: inline;
}
