.dworld.item-sheet .tab {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.dworld.item-sheet .scrollable {
  max-height: 38em;
  overflow-y: scroll;
  overflow-x: hidden;
}

.dworld.item-sheet .item-name {
  all: unset;

  padding: 0.2em;
  margin-bottom: 0.5em;
  color: #21160a;
  font-family: "Palatino";
  font-size: 170%;
  border-bottom: 1px solid #782e22;
}

.dworld.item-sheet .class-name {
  font-size: 200%;
}

.dworld.item-sheet h2 {
  font-size: 180%;
}

.dworld.item-sheet h3 {
  font-size: 160%;
}

.dworld.item-sheet .subtitle {
  display: block;
}

.dworld.item-sheet .item-description {
  flex: 1;
  min-height: 10em;
  width: 100%;

  padding: 0.1em;
  font-size: 100%;
  letter-spacing: 110%;
}

.dworld.item-sheet .card-name {
  all: unset;

  width: 90%;
  padding: 0.3em;
  color: #21160a;
  font-family: "Palatino";
  font-size: 140%;
  border-bottom: 1px solid #782e22;
}

.dworld.item-sheet .race-move {
  flex: 1;
  min-height: 7em;
  width: 100%;

  padding: 0.1em;
  font-size: 100%;
  letter-spacing: 110%;
}

.dworld.item-sheet .move-requirement > .remove-button {
  display: none;
}

.dworld.item-sheet .move-requirement:hover > .remove-button {
  display: inherit;
}
