<form class="dworld actor-sheet {{cssClass}}">
  <!-- Basic details that are always visible -->
  <h1 class="class">{{data.class.value}}</h1>
  <section class="topbar">
    <input class="charname" value="{{actor.name}}"/>
    <span class="level">{{data.level.label}}: {{data.level.value}}</span>
    <span class="xp">{{data.xp.label}}: {{data.xp.value}}</span>
  </section>

  <nav class="sheet-tabs tabs" data-tab-container="primary">
      <a class="item" data-tab="overview">Overview</a>
      <a class="item" data-tab="moves">Moves</a>
  </nav>

  <div class="tab overview-tab" data-tab="overview">
    <!-- Character looks -->
    <section class="look">
      <h2 class="label">{{data.look.label}}</h2>
      <div class="look-body">{{data.look.body.value}}</div>
      <div class="look-eyes">{{data.look.eyes.value}}</div>
      <div class="look-decoration">{{data.look.decoration.value}}</div>
      <div class="look-clothes">{{data.look.clothes.value}}</div>
    </section>

    <!-- Base character information (armor, hp, damage) -->
    <section class="basechar">
      <div class="armor">
        <h2 class="label">{{data.armor.label}}</h2>
        <span class="armor-value">{{data.armor.value}}</span>
      </div>
      <div class="hp">
        <h2 class="label">{{data.hp.label}}</h2>
        <span class="hp-value">{{data.hp.value}} / {{data.hp.max}}</span>
      </div>
      <div class="damage">
        <h2 class="label">{{data.damage.label}}</h2>
        <span class="damage-value">{{data.damage.value}}</span>
      </div>
    </section>

    <!-- Alignment and its description -->
    <section class="alignment">
      <h2 class="label">{{data.alignment.label}}</h2>
      <!--<select class="alignment-choices">
      {{#each alignments as |alignment|}}
        <option class="alignment-item" value="{{alignment.name}}">
          <h3 class="alignment-name">{{alignment.name}}</h3>
          <div class="alignment-desc">{{alignment.description}}</div>
        </option>
      {{/each}}
      </select> -->
    </section>

    <!-- Stats of character -->
    <section class="stats">
      {{#each data.stats as |stat id|}}
      <span class="stat-container">
        <h2 class="label">{{stat.label}}</h2>
        <span class="state-value">{{stat.value}}</span>
      </span>
      {{/each}}
    </section>
  </div>
  <div class="tab moves-tab" data-tab="moves">
    {{#each data.moves.value as |move id|}}
      <div class="move-card">
        <h3 class="move-name">{{move.name}}</h3>
        <a class="remove-button" remove-id="{{id}}" remove-array="data.moves.value"
          remove-title="Remove a Move?" remove-content="Are you sure you want to remove the move {{move.name}}?">
          <i class="fas fa-times"></i></a>
        <div class="move-desc">{{{move.description}}}</div>
      </div>
    {{/each}}
  </div>
</form>
