<form class="dworld item-sheet {{cssClass}}">
  <nav class="sheet-tabs tabs" data-tab-container="primary">
      <a class="item" data-tab="overview">Overview</a>
      <a class="item" data-tab="edit">Edit</a>
  </nav>

  <div class="tab scrollable" data-tab="overview">
    <input class="item-name class-name editable" data-edit="data.name"
      value="{{data.name}}" placeholder="The Barbarian"/>
    <div class="editor active item-description">
        <div class="editor-content" data-edit="data.description.value">
           {{{data.description.value}}}
        </div>
        <a class="editor-edit"><i class="fas fa-edit"></i></a>
    </div>

    <!-- potential character names, for different races different names -->
    <section class="names">
      <h2 class="label">Names</h2>
      {{#each data.races.value as |race|}}
        <div class="race-names">{{race.name.value}}: {{race.names.value}}</div>
      {{/each}}
    </section>

    <!-- options for how characters of this class might look like -->
    <section class="looks">
      <h2 class="label">Looks</h2>
      <div class="looks-body">Body:
        <input class="editable sneaky-input" data-edit="data.looks.body.value@list"
          value="{{data.looks.body.text}}"</input>
      </div>
      <div class="looks-eyes">Eyes:
        <input class="editable sneaky-input" data-edit="data.looks.eyes.value@list"
          value="{{data.looks.eyes.text}}"</input>
      </div>
      <div class="looks-decoration">Decoration:
        <input class="editable sneaky-input" data-edit="data.looks.decoration.value@list"
          value="{{data.looks.decoration.text}}"</input>
      </div>
      <div class="looks-clothes">Clothes:
        <input class="editable sneaky-input" data-edit="data.looks.clothes.value@list"
          value="{{data.looks.clothes.text}}"</input>
      </div>
    </section>

    <!-- class max HP and damage -->
    <section class="stats">
      <h2 class="label">Stats</h2>
      <div class="stat-hp">Your maximum HP is <input class="editable sneaky-input"
        data-edit="data.maxHp.value" value="{{data.maxHp.value}}" placeholder="10"/></div>
      <div class="stat-hp">Your base damage is <input class="editable sneaky-input"
        data-edit="data.baseDamage.value" value="{{data.baseDamage.value}}" placeholder="1d4"/></div>
    </section>

    <!-- race specific choices of moves -->
    <section class="starting-moves">
      <h2 class="label">{{data.startingMoves.label}}</h2>
      <section class="race-moves">
        <strong class="subtitle">Choose a race and gain the corresponding move:</strong>
        {{#each data.races.value as |race|}}
          <div class="move-card">
            <h3 class="move-name">{{race.name.value}}</h3>
            <div class="move-desc">{{{race.move.value}}}</div>
          </div>
        {{/each}}
      </section>

      <!-- moves for ALL characters of this class -->
      <section class="shared-moves">
        <strong class="subtitle">You start with these moves:</strong>
        {{#each data.startingMoves.value as |move id|}}
          <div class="move-card">
            <h3 class="move-name">{{move.name}}</h3>
            <a class="remove-button" remove-id="{{id}}" remove-array="data.startingMoves.value"
              remove-title="Remove a Move?" remove-content="Are you sure you want to remove the move {{move.name}}?">
              <i class="fas fa-times"></i></a>
            <div class="move-desc">{{{move.description}}}</div>
          </div>
        {{/each}}
      </section>
    </section>

    <!-- alignments and when they give XP -->
    <section class="alignment">
      <h2 class="label">Alignment</h2>
      <strong class="subtitle">Choose an alignment:</strong>
      {{#each data.alignments.value as |alignment id|}}
        <div class="alignment-card">
          <input class="card-name editable" data-edit="data.alignments.value.{{id}}.label"
            value="{{alignment.label}}" placeholder="Good"/>
          <a class="remove-button" remove-id="{{id}}" remove-array="data.alignments.value"
            remove-title="Remove a Move?" remove-content="Are you sure you want to remove the alignment {{alignment.label}}?">
            <i class="fas fa-times"></i></a>
          <div class="editor active race-move">
              <div class="editor-content" data-edit="data.alignments.value.{{id}}.value">
                 {{{alignment.value}}}
              </div>
              <a class="editor-edit"><i class="fas fa-edit"></i></a>
          </div>
        </div>
      {{/each}}
      <a class="add-alignment"><i class="fas fa-plus"></i></a>
    </section>

    <section class="advanced-moves">
      <h2 class="label">Advanced Moves</h2>
      <strong class="subtitle">When you gain a level from 2-5, choose from these moves.</strong>
      {{#each data.advancedMoves1.value as |move id|}}
        <div class="move-card">
          <h3 class="move-name">{{move.name}}</h3>
          <a class="remove-button" remove-id="{{id}}" remove-array="data.advancedMoves1.value"
            remove-title="Remove a Move?" remove-content="Are you sure you want to remove the move {{move.name}}?">
            <i class="fas fa-times"></i></a>
          {{#if move.requires}}
            <div class="move-requires">
              Requires:
              {{#each move.requires as |req id|}}
                <a class="move-requirement" open-id="{{req.id}}" open-pack="{{req.pack}}">
                  {{move.name}}
                </a>
              {{/each}}
            </div>
          {{/if}}
          {{#if move.replaces}}
            <div class="move-requires">
              Replaces:
              {{#each move.replaces as |req id|}}
                <a class="move-requirement" open-id="{{req.id}}" open-pack="{{req.pack}}">
                  {{move.name}}
                </a>
              {{/each}}
            </div>
          {{/if}}
          <div class="move-desc">{{{move.description}}}</div>
        </div>
      {{/each}}

      <strong class="subtitle">When you gain a level from 6-10, choose from these moves or the level 2-5 moves.</strong>
      {{#each data.advancedMoves2.value as |move id|}}
        <div class="move-card">
          <h3 class="move-name">{{move.name}}</h3>
          <a class="remove-button" remove-id="{{id}}" remove-array="data.advancedMoves2.value"
            remove-title="Remove a Move?" remove-content="Are you sure you want to remove the move {{move.name}}?">
            <i class="fas fa-times"></i></a>
          {{#if move.requires}}
            <div class="move-requires">
              Requires:
              {{#each move.requires as |req id|}}
                <a class="move-requirement" open-id="{{req.id}}" open-pack="{{req.pack}}">
                  {{move.name}}
                </a>
              {{/each}}
            </div>
          {{/if}}
          {{#if move.replaces}}
            <div class="move-requires">
              Replaces:
              {{#each move.replaces as |req id|}}
                <a class="move-requirement" open-id="{{req.id}}" open-pack="{{req.pack}}">
                  {{move.name}}
                </a>
              {{/each}}
            </div>
          {{/if}}
          <div class="move-desc">{{{move.description}}}</div>
        </div>
      {{/each}}
    </section>
  </div>

  <!-- races displayed, mainly for editing -->
  <div class="tab scrollable" data-tab="edit">
    <h1 class="item-name class-name">Races</h1>
    <section class="races">
      {{#each data.races.value as |race id|}}
        <div class="race-card">
          <input class="card-name editable" data-edit="data.races.value.{{id}}.name.value"
            value="{{race.name.value}}" placeholder="Human"/>
            <a class="remove-button" remove-id="{{id}}" remove-array="data.races.value"
              remove-title="Remove a Race?" remove-content="Are you sure you want to remove the race {{race.name.value}}?">
            <i class="fas fa-times"></i></a>
          <div class="editor active race-move">
              <div class="editor-content" data-edit="data.races.value.{{id}}.move.value">
                 {{{race.move.value}}}
              </div>
              <a class="editor-edit"><i class="fas fa-edit"></i></a>
          </div>
          <div class="race-names">
            Names: <input class="editable sneaky-input" data-edit="data.races.value.{{id}}.names.value"
              value="{{race.names.value}}" placeholder=""/>
          </div>
        </div>
      {{/each}}
      <a class="add-race"><i class="fas fa-plus"></i></a>
    </section>
  </div>
</form>
