<form class="dworld item-sheet {{cssClass}}">
  <nav class="sheet-tabs tabs" data-tab-container="primary">
      <a class="item" data-tab="overview">Overview</a>
      <a class="item" data-tab="automation">Automation</a>
  </nav>

  <div class="tab" data-tab="overview">
    <input class="item-name editable" data-edit="data.name"
      value="{{data.name}}" placeholder="A Cool Move"/>
    {{#if data.requires.value}}
      <div class="move-requires">
        Requires:
        {{#each data.requires.value as |move id|}}
          <a class="move-requirement" open-id="{{move.id}}" open-pack="{{move.pack}}">
            {{move.name}}
            <span class="remove-button" remove-id="{{id}}" remove-array="data.requires.value"
              remove-title="Remove a Move?" remove-content="Are you sure you want to remove the requirement {{move.name}}?">
              <i class="fas fa-times"></i></span>
          </a>
        {{/each}}
      </div>
    {{/if}}
    {{#if data.replaces.value}}
      <div class="move-replaces">
        Replaces:
        {{#each data.replaces.value as |move id|}}
          <a class="move-requirement dw-link" open-id="{{move.id}}" open-pack="{{move.pack}}">
            {{move.name}}
            <span class="remove-button" remove-id="{{id}}" remove-array="data.replaces.value"
              remove-title="Remove a Move?" remove-content="Are you sure you want to remove the replaced {{move.name}}?">
              <i class="fas fa-times"></i></span>
          </a>
        {{/each}}
      </div>
    {{/if}}
    <div class="tab editor active item-description" data-tab="description">
        <div class="editor-content" data-edit="data.description.value">
           {{{data.description.value}}}
        </div>
        <a class="editor-edit"><i class="fas fa-edit"></i></a>
    </div>
  </div>

  <div class="tab" data-tab="automation">

  </div>
</form>
